body {
  background-color: #FEFEE5;
  text-align: center;
  font-family: "Helvetica";
  transition: all .4s ease-in-out; }

body * {
  transition: all 0.5s ease-in-out; }

html {
  margin: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute; }

.caps {
  text-transform: uppercase; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

.red-button {
  transition: all .5s ease-in-out;
  border-radius: 10px;
  background-color: #FF6666;
  color: #FEFEE5;
  box-shadow: 0.5px 1px 2px 1px rgba(0, 0, 0, 0.3);
  margin: 0px 20px 10px 20px; }

.temp {
  /*   border: 2px dashed green; */ }

.red-button:hover {
  cursor: pointer;
  background-color: #DD5858;
  font-size: 1.87em;
  transform: scale(1.1); }

.light {
  font-weight: lighter; }

.inactive-button {
  font-size: 1.7em;
  border-radius: 10px;
  background-color: #F48788;
  color: #DD5858; }

.twenty-vh-spacer {
  width: 100%;
  position: relative;
  height: 20vh; }

html {
  box-sizing: border-box; }

.section3-pre > * {
  margin: 2px;
  line-height: 1em;
  text-align: center; }

.you-will {
  font-size: 0.5em;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #797979; }

.section3-pre {
  overflow: scroll;
  height: 100%;
  top: 0px;
  position: relative;
  margin-top: -19px; }

html * {
  transition: all .5s ease-in-out; }

input {
  left: 50%;
  position: relative;
  transform: translateX(-50%) translateY(100px);
  width: 70%;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #FF6666; }

.button-2 {
  top: 200vh;
  margin-bottom: 100px;
  position: relative; }

.num-1 {
  text-align: center;
  font-size: 11vh;
  margin-top: 8px;
  margin-bottom: 0px;
  font-family: "Helvetica";
  transition: all .4s ease-in; }

input:focus {
  border: 1px black solid;
  outline: none; }

.num-2 {
  text-align: center;
  font-size: 11vh;
  margin-top: 8px;
  margin-bottom: 0px;
  font-family: "Helvetica"; }

.num-3 {
  text-align: center;
  font-size: 11vh;
  margin-top: 8px;
  margin-bottom: 0px;
  font-family: "Helvetica"; }

.topic-list-holder {
  width: 100%;
  top: 3%;
  opacity: 0;
  position: absolute;
  overflow: scroll;
  height: 95%;
  transition: all .4s ease-in; }

.topic-list {
  border-bottom: 1px #797979 solid;
  height: 80%;
  position: relative;
  overflow: scroll; }

.topic-list * > {
  position: relative;
  overflow: scroll; }

hr {
  top: 46%;
  position: absolute;
  border: none;
  left: 15vw;
  border-top: 10px dashed #ffd400;
  color: #797979;
  background-color: rgba(255, 255, 255, 0);
  height: 1px;
  width: 70%; }

body {
  position: relative;
  background-color: #FEFEE5;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  margin: auto 0;
  font-family: "Helvetica";
  font-weight: 300;
  margin: 0;
  background-image: url("img/flag.svg");
  background-repeat: no-repeat;
  background-size: cover; }

.icons {
  width: 130%;
  color: #e6e291;
  left: 120%;
  position: absolute;
  transform: translateX(-50%);
  margin-top: -7vh; }

#rep-image {
  background-image: url("../img/imgTan.jpg");
  background-repeat: no-repeat;
  left: 0px;
  border: none;
  position: relative;
  /*   border-radius: 50%; */
  background-size: cover;
  width: 12vw;
  height: 12vw;
  max-width: 90px;
  max-height: 90px;
  float: left; }

.script {
  font-size: .6em;
  overflow: scroll;
  text-align: left;
  margin-left: 2vw;
  line-height: 1.1em; }

.rep-image {
  position: relative;
  font-size: 0.8em;
  display: inline-block;
  /*   float: left; */ }

a {
  color: #FEFEE5; }

.details {
  font-style: italic; }

#rep-name {
  display: block;
  margin-left: 10vw;
  vertical-align: middle;
  width: 60%;
  /*   border:aliceblue 2px solid; */
  position: relative;
  text-align: left;
  padding-left: 4vw; }

.section2-pre, .section3-pre, .section3-post {
  display: none; }

.section2-post {
  opacity: 0;
  padding-left: 15px; }

.section2-answer {
  margin-bottom: 10px;
  position: relative;
  top: 5%;
  font-size: 0.8em;
  line-height: 1em;
  font-weight: bold; }

.section2-details {
  font-size: .5em;
  line-height: 1em; }

.topic-result {
  display: none; }

.topic-tip {
  text-align: center;
  line-height: 1em;
  font-size: 15px;
  bottom: 5%;
  margin: 20px;
  /*   width: 80%; */
  position: absolute; }

.item {
  position: relative;
  margin: 2px;
  padding: 10px;
  font-size: 30px; }

@media all and (max-width: 2000px) and (min-width: 601px) {
  .item {
    flex: 1 1 calc(33.33% - 20px);
    height: 90vh; }

  .elements {
    display: flex; }

  .caller-numbers {
    font-family: "Helvetica";
    text-align: center;
    position: absolute;
    font-size: 2.5em;
    left: 50%;
    line-height: 1.1em;
    color: #797979;
    transform: translateX(-50%);
    bottom: 60px; } }
@media screen and (max-width: 600px) {
  .elements {
    flex-direction: column;
    height: 100%; }

  .caller-numbers {
    font-family: "Helvetica";
    text-align: center;
    position: relative;
    font-size: 2.5em;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
    /*     bottom: 101px; */ } }
input:focus::-webkit-input-placeholder {
  color: transparent; }

.elements {
  /*     flex: 1 10em; */
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
  position: relative; }

.all {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 100%; }

#holder-1, #holder-2, #holder-3 {
  height: 160px;
  /*transition: 2s ease-in-out;*/ }

.button {
  text-align: center;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FF6666;
  color: #FEFEE5;
  top: 84%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: 70%; }

.number {
  position: absolute;
  bottom: 39%;
  width: 90%; }

.button:hover {
  cursor: pointer;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.2);
  background-color: #FF6767; }

.holder {
  /* overflow: scroll; */
  display: inline-block;
  width: 50%;
  clear: both;
  margin-top: 0;
  /*   height: 00px; */
  left: 25%;
  top: 25vh;
  position: relative;
  border: 2px solid #1e1e1e;
  background-color: #FEFEE5;
  padding: .2vw;
  padding-top: 10px;
  box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.55, 0.01, 0.4, 1.01); }

.holderselected {
  border: 2px solid #FF6666; }

.hovering {
  cursor: pointer;
  color: #FF6666;
  background-color: #f2f0c0;
  border: 6px solid #FF6666;
  transform: scale(1.2);
  animation: rotate-thing .5s ease-out;
  box-shadow: 9px 27px 7px rgba(0, 0, 0, 0.2);
  transition: all .5s .4s ease-in-out; }

@keyframes rotate-thing {
  10% {
    transform: rotateZ(4deg); }
  30% {
    transform: rotateZ(-4deg); }
  50% {
    transform: rotateZ(2deg); }
  60% {
    transform: rotateZ(-2deg); } }
input:checked {
  background-color: #FEFEE5; }

.chapter {
  display: inline-block;
  font: "Helvetica";
  transform: translateY(-10%);
  text-align: center;
  overflow: hidden;
  clear: both;
  color: #e6e291;
  /*   max-height:20%; */
  position: relative;
  max-width: 90%;
  /*   margin-left: 1.5vw; */
  font-size: 0.5em; }

.audio {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 96%;
  position: fixed;
  right: 0%;
  transform: translate(-50%, -50%); }

.audio span {
  width: 10px;
  height: 20px;
  background: #3cabea;
  border-radius: 2px;
  position: absolute;
  bottom: 0; }

.audio span:first-of-type {
  margin-top: 0; }

.audio span:nth-child(1) {
  animation: animationTest 1.2s infinite ease-in-out;
  left: 0; }

.audio span:nth-child(2) {
  animation: animationTest 1.6s infinite ease-in-out;
  left: 12px; }

.audio span:nth-child(3) {
  animation: animationTest 1.4s infinite ease-in-out;
  left: 24px; }

.audio span:nth-child(4) {
  animation: animationTest 1s infinite ease-in-out;
  left: 36px; }

@keyframes animationTest {
  0% {
    height: 2px; }
  50% {
    height: 20px; }
  100% {
    height: 2px; } }
.header {
  z-index: 300;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  margin-top: 6vh;
  position: absolute;
  transition: all 0.7s 0.2s cubic-bezier(0.42, 0, 0.36, 0.99);
  position: relative;
  height: 9vh; }

#easy {
  position: relative;
  left: 50%;
  text-align: center;
  font-size: 2.5em;
  font-family: "Helvetica";
  font-weight: bold;
  transform: translateX(-50%);
  height: 100%; }

.radioholder {
  position: relative;
  width: 88%;
  left: 6%;
  /* 	background: #fff; */
  margin-bottom: 1em;
  font-size: .6em;
  /* 	height: 4em; */
  color: #010101;
  -o-transition: .1s ease-out;
  -ms-transition: .1s ease-out;
  -moz-transition: .1s ease-out;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
  cursor: pointer; }

.activeradioholder {
  background: #f2f0c0;
  color: #010101; }

.radioholder .desc {
  z-index: 100;
  display: inline-block;
  vertical-align: middle;
  padding-left: 2.6em;
  line-height: 1.4em; }

.radioholder .tick {
  /* 	margin-top:-7px; */
  display: inline-block;
  vertical-align: middle;
  width: 2.4em;
  height: 100%;
  position: absolute;
  background-color: #f2f0c0;
  /* 	background-image: none; */
  -o-transition: .1s ease-out;
  -ms-transition: .1s ease-out;
  -moz-transition: .1s ease-out;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out; }

.activeradioholder .tick {
  /* 	justify-content: center; */
  /* 	margin-top:-7px; */
  position: absolute;
  background-color: #010101;
  background-image: url("http://supereightstudio.com/img/radio_tick.png");
  background-size: contain;
  background-repeat: no-repeat; }

.radioholder:hover {
  background-color: #f2f0c0; }

.radioholder:hover .tick {
  background-color: #f2f0c0; }

.activeradioholder:hover {
  background-color: #f2f0c0; }

.activeradioholder:hover .tick {
  background-color: #010101; }

/*# sourceMappingURL=call.css.map */
