@import "_shared_variables";
@import "_variables";


.intro-buttons{
  font-size: $med-sm-font;
  width: 200px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  position: relative;
}

#user-num{
  position:absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  left: 3px;
/*   justify-content: center; */
/*   vertical-align: middle; */
  display: none;
}

h2{
  // background-color: $pink;
  font-family: $default-font;
  font-weight: lighter;
  font-size: $med-sm-font;
}

h1{
  letter-spacing: 5px;
  font-weight: 400;
}

h3{
  color: $red;
}

#eye{
  width: 80%;
  height: 80%;
/*   top: 10px; */
}

.search-box{
/*   border: 3px salmon dashed; */
  border-radius: $border-rad;
  border: $stroke-weight solid $tan-B;
  width: 300px;
  margin-top: 40px;
  height: 50px;
  opacity: 0;
  margin-left: 30px;
}

.search-box-button{
  background-color: $red;
  width: 14%;
  height: 80%;
  right: 5px;
  float:right;
  margin-top: -13%;
  position: relative;
  border-radius: $border-rad;
  box-shadow: $box-shadow;
}

.search-box-button:hover{
  background-color: $red-B;
  cursor: pointer;
}

.blinking-line{
  left: 5px;
  margin-top: 1%;
  height: 40px;
  position:relative;
  display: grid;
  width: 3%;
  border-left: $stroke-weight solid $tan-B;
  animation: blink 1s ease-in-out infinite;
}

#formID{
  top: -30px;
}

input {
  font-size: $med-sm-font;
  font-weight: lighter;
  background-color: $tan;
  text-decoration: none;
  position: relative;
    border:solid 0px rgba(0,0,0,0);

    color:$tan-B;
    height: 28px;
    padding-left:10px;
    width: 70%;
    left: 0%;
    top: -2%;
    box-shadow: 2px 2px rgba(0,0,0,0);
}

input:focus{
  outline: none;
}

.sim-1-header{
  margin: 0 0;
}

.intro-lines{
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width:600px;
}

.intro-choice{
  position: relative;
}


#paths > *, #paths-two > *{
  // stroke-dasharray: 1000;
  stroke-dasharray: $dash-spread;
  stroke-linecap:"round";
  animation: dash 20s linear reverse infinite;
}

#paths{
  transition: all .5s ease-in-out;
}

#paths-two{
  position:relative;
  width: 200px;
  left: -350px;
  top: 270px;
/*    stroke-dasharray: $dash-spread; */
}

.waiting-page{
  width: 300px;
  height: 300px;
}
#send{
top: $send-height;
}

#adword{
top: $send-height+ $from-height+10;
}

#cookie{
top: $send-height+ $from-height*2+ 20;
}
#waiting-text{
  margin-top: 110px;
  opacity: 0;
  font-size: $med-font;
  display: none;
  font-weight: lighter;
  color: $tan-B;
  transition: all $animation-speed ease-in-out;
}


.play:hover{
  background-color: $tan-B;
  color: $tan;
  text-decoration: underline;
  cursor: pointer;
}

.play{
  height: 20px;
  color: $red;
  font-size: $sm-font;
  width: 60px;
  position:absolute;
  top: 270px;
  left: 385px;
}


.from-user-button{
  line-height: 40px;
  background-color: $red;
  color: $tan;
  width: 200px;
position: absolute;
  height: $from-height;
  font-weight: lighter;
  font-size: $sm-font;
  border-radius: $border-rad;
  margin: 3px;
  left: -300px;
/*   box-shadow: 2px rgba(0,0,0,0); */
}

.scene2{
  opacity: 0;
  pointer-events: none;
}

.scene3{
  opacity: 0;
  pointer-events: none;

}

.scene{
  position:absolute;
/*   border: 2px blue solid; */
  width: 100%;
}




@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}
