$tan: #FEFEE5;
$red: #FE6464;
$black: #010101;
$thin-border: 1px $black solid;
$default-font: 'Helvetica'


// background: repeating-linear-gradient(
//   45deg,
//   $black,
//   $black 10px,
//   $tan 10px,
//   $tan 20px
// );
